<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenericUTurn.ServiceService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GenericUTurn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />        
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <GenericUTurn.ServiceService.Properties.Settings>
            <setting name="EventlogLog" serializeAs="String">
                <value>MidofficeVuller</value>
            </setting>
            <setting name="CheckIntervalSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="AbortIntervalSeconds" serializeAs="String">
                <value>20</value>
            </setting>
        </GenericUTurn.ServiceService.Properties.Settings>
        <!-- uit de App.config van GenericUTurn -->
        <GenericUTurn.Properties.Settings>
          <setting name="Substitutor" serializeAs="String">
            <value>substitutor.xml</value>
          </setting>
          <setting name="UTurnDatabaseConnection" serializeAs="String">
            <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=data\uturn.accdb</value>
          </setting>
          <setting name="UTurnSleepInterval" serializeAs="String">
            <value>10</value>
          </setting>
          <setting name="Namespaces" serializeAs="String">
            <value>namespaces.xml</value>
          </setting>
          <setting name="TemplateGenereerZaakIdentificatie" serializeAs="String">
            <value>template\GenereerZaakIdentificatie.xml</value>
          </setting>
          <setting name="TemplateUpdateZaak" serializeAs="String">
            <value>template\UpdateZaak.xml</value>
          </setting>
          <setting name="Koppelingen" serializeAs="String">
            <value>koppeling</value>
          </setting>
          <setting name="EmailSmtp" serializeAs="String">
            <value>smptserver</value>
          </setting>
          <setting name="EmailTitel" serializeAs="String">
            <value>MidofficeVuller: fout betreffende zaaktype</value>
          </setting>
          <setting name="TemplateCreeerZaak" serializeAs="String">
            <value>template\CreeerZaak.xml</value>
          </setting>
            <setting name="StandaardZaakDocumentServicesVrijBerichtService"
                serializeAs="String">
                <value>http://midofficeserver:53803/ZKS-ZaakDocumentServices/VrijBerichtService.svc</value>
            </setting>
            <setting name="StandaardZaakDocumentServicesOntvangAsynchroonService"
                serializeAs="String">
                <value>http://midofficeserver:53803/ZKS-ZaakDocumentServices/OntvangAsynchroonService.svc</value>
            </setting>
            <setting name="StandaardZaakDocumentServicesBeantwoordVraagService"
                serializeAs="String">
                <value>http://midofficeserver:53803/ZKS-ZaakDocumentServices/BeantwoordVraagService.svc</value>
            </setting>
            <setting name="EmailAfzender" serializeAs="String">
                <value>eduard@witteveen-automatisering.nl</value>
            </setting>
            <setting name="UTurnDatabaseProvider" serializeAs="String">
                <value>System.Data.OleDb</value>
            </setting>
        </GenericUTurn.Properties.Settings>
    </applicationSettings>
</configuration>